/* My Skills */

.progress {
  height: 20px;
    border-radius:20px;

}

.progress .skill .val {
  float: right;
  font-style: normal;
  margin: 0 20px 0 0;
}

.progress-bar {
  text-align: left;
  border-radius:20px;
  transition-duration: 3s;
  background-color: #088dcd;
}